<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Notifications</h5>
        <p class="card-category">
          View latest info, tips and recommendations from us
        </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Title
              </th>
              <th>
                Action
              </th>
            </thead>
            <tbody *ngIf="notification | async; else noNotification; let items">
              <tr *ngFor="let item of items">
                <td>
                  {{_helper.cutText(item.title, 30)}}
                </td>
                <td>
                  <button (click)="view(item)" type="submit" class="btn btn-success btn-round">View</button>
                </td>
              </tr>
            </tbody>
            <ng-template #noNotification>
              <tbody>
                <tr>
                  <td>
                    You do not have any notification
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
