<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Notifications</h5>
        <p class="card-category">
          View latest info, tips and recommendations from us
        </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Title
              </th>
              <th>
                Action
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Welcome to Apexxoptions
                </td>
                <td>
                  <button type="submit" class="btn btn-success btn-round">View</button>
                </td>
              </tr>
              <tr>
                <td>
                  How to get started
                </td>
                <td>
                  <button type="submit" class="btn btn-success btn-round">View</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
