<div class="row">
  <div class="col-md-8">
    <div class="card card-user p-3">
      <div class="card-header">
        <h5 class="card-title">Referral Link</h5>
        <p class="mt-3">Invite friends and family to earn ${{bonus}} per invite. start by copying the link below and sending to them.</p>
      </div>
      <div class="card-body">
        <p class="bg-secondary p-2 text-light">{{url}}</p>
        <button class="btn btn-success btn-sm" (click)="copy()">
          <!-- <i class="fa fa-clone"></i> --> copy link
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card card-user p-3">
      <div class="card-header">
        <h5 class="card-title">Change Email</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="changeemailForm" (ngSubmit)="changeEmail()">
          <div class="row">
            <div class="col-12 pl-1">
              <div class="form-group">
                <label for="">Password</label>
                <input formControlName="password" type="password" class="form-control">
                <div *ngIf="changeemailForm.controls.password.invalid && (changeemailForm.controls.password.dirty || changeemailForm.controls.password.touched)">
                  <div class="text-danger" *ngIf="changeemailForm.controls.password?.hasError('required')">Required</div>
                </div>
              </div>
            </div>
            <div class="col-12 pl-1">
              <div class="form-group">
                <label for="">New Email</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="changeemailForm.controls.email.invalid && (changeemailForm.controls.email.dirty || changeemailForm.controls.email.touched)">
                  <div class="text-danger" *ngIf="changeemailForm.controls.email?.hasError('required')">Required</div>
                  <div class="text-danger" *ngIf="changeemailForm.controls.email?.hasError('email')">Invalid email</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button [disabled]="!changeemailForm.valid" type="submit" class="btn btn-success btn-round">
                <span *ngIf="!updatingChangeemailForm">Update Email</span>
                <div *ngIf="updatingChangeemailForm">
                    <app-loader></app-loader>
                    <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-8">
    <div class="card card-user p-3">
      <div class="card-header">
        <h5 class="card-title">Change Password</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="changepassForm" (ngSubmit)="changePass()">
          <div class="row">
            <div class="col-12 pl-1">
              <div class="form-group">
                <label for="">Old Password</label>
                <input type="password" formControlName="oldpassword" class="form-control">
                <div *ngIf="changepassForm.controls.oldpassword.invalid && (changepassForm.controls.oldpassword.dirty || changepassForm.controls.oldpassword.touched)">
                  <div class="text-danger" *ngIf="changepassForm.controls.oldpassword?.hasError('required')">Required</div>
                </div>
              </div>
            </div>
            <div class="col-12 pl-1">
              <div class="form-group">
                <label for="">New Password</label>
                <input type="password" formControlName="newpassword" class="form-control">
                <div *ngIf="changepassForm.controls.newpassword.invalid && (changepassForm.controls.newpassword.dirty || changepassForm.controls.newpassword.touched)">
                  <div class="text-danger" *ngIf="changepassForm.controls.newpassword?.hasError('required')">Required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button [disabled]="!changepassForm.valid" type="submit" class="btn btn-success btn-round">
                <span *ngIf="!updatingChangepassForm">Update Password</span>
                <div *ngIf="updatingChangepassForm">
                    <app-loader></app-loader>
                    <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
