<section class="investment" #investment>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          Fund account now
        </h3>
        <p>Select a payment plan to continue</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h5>
          Moon Packages
        </h5>
      </div>
    </div>
    <div class="row mt-1">
      <div *ngFor="let item of plans; index as i" class="col-sm-6 mt-3 mb-3 col-md-3">
        <app-pricing (click)="getAmount(i)" [item]="item"></app-pricing>
      </div>
    </div>
  </div>
</section>

<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Fundings</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Amount (₿)
              </th>
              <th>
                Amount ($)
              </th>
              <!-- <th>
                Account Address
              </th> -->
              <th>
                Plan
              </th>
              <th>
                Status
              </th>
              <th class="text-right">
                Date
              </th>
            </thead>
            <tbody *ngIf="requests | async; else noRequests; let items">
              <tr *ngFor="let item of items">
                <td>
                  {{item.value}}
                </td>

                <td>
                  {{item.planAmount}}
                </td>
                <!-- <td>
                  {{item.addressPaidFrom}}
                </td> -->
                <td>
                  {{item.paymentPlan}}
                </td>
                <td>
                  {{item.accepted? 'Confirmed':item.rejected? 'Rejected':'Pending'}}
                </td>
                <td class="text-right">
                  {{_helper.formatDate(item.date)}}
                </td>
              </tr>

            </tbody>
            <ng-template #noRequests>
              <tbody>
                <tr>
                  loading...
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
