<div class="row">
  <div>
    <h3>Fund Account Now</h3>
    <p>Select a plan to fund your account.</p>
  </div>

  <div class="col-12">

    <div class="row">
      <div class="col-12">
       <div class="plan-wrapper">

        <div class="box starter">
          <div class="title">Starter</div>
          <div class="amount">
            <span class="currency"><sup>$</sup></span>200 -
            <span class="currency"><sup>$</sup></span>1000
          </div>
          <div class="button">
            <button (click)="getAmount('starter')" class="starter">Select</button>
          </div>
          <div class="circle"></div>
        </div>


        <div class="box premium">
          <div class="title">Premium</div>
          <div class="amount">
            <span class="currency"><sup>$</sup></span>1000 -
            <span class="currency"><sup>$</sup></span>5000
          </div>
          <div class="button">
            <button (click)="getAmount('premium')" class="premium">Select</button>
          </div>
          <div class="circle"></div>
        </div>

        <div class="box deluxe">
          <div class="title">Deluxe</div>
          <div class="amount">
            <span class="currency"><sup>$</sup></span>5000 -
            <span class="currency"><sup>$</sup></span>10000
          </div>
          <div class="button">
            <button (click)="getAmount('deluxe')" class="deluxe">Select</button>
          </div>
          <div class="circle"></div>
        </div>

        <div class="box exclusive">
          <div class="title">Exclusive</div>
          <div class="amount">
            <span class="currency"><sup>$</sup></span>10000 -
            <span class="currency"><sup>$</sup></span>100000
          </div>
          <div class="button">
            <button (click)="getAmount('exclusive')" class="exclusive">Select</button>
          </div>
          <div class="circle"></div>
        </div>

       </div>
      </div>
    </div>
    <!-- <form [formGroup]="fundForm">

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <select class="form-control">
              <option selected disabled>Select Payment Method</option>
              <option>bth</option>
              <option disabled>eth</option>
              <option disabled>xmr</option>
              <option disabled>bch</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <input formControlName="value" type="number" class="form-control" placeholder="Quantity to fund">
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <span><strong>Equivalent: </strong></span> ${{value.toLocaleString()}}
        </div>
        <div class="col-12 text-center mt-3">
          <button type="submit" class="btn btn-success btn-round">FUND</button>
        </div>
      </div>

    </form> -->

  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Fundings</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Amount (₿)
              </th>
              <th>
                Account Address
              </th>
              <th>
                Plan
              </th>
              <th>
                Status
              </th>
              <th class="text-right">
                Date
              </th>
            </thead>
            <tbody *ngIf="requests | async; else noRequests; let items">
              <tr *ngFor="let item of items">
                <td>
                  {{item.value}}
                </td>
                <td>
                  {{item.addressPaidFrom}}
                </td>
                <td>
                  {{item.paymentPlan}}
                </td>
                <td>
                  {{item.accepted? 'Confirmed':item.rejected? 'Rejected':'Pending'}}
                </td>
                <td class="text-right">
                  {{_helper.formatDate(item.date)}}
                </td>
              </tr>

            </tbody>
            <ng-template #noRequests>
              <tbody>
                <tr>
                  loading...
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
