<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" [src]="auth.user.photoURL" alt="...">
            <div class="file-input-wrapper">
              <input (change)="fileProgress($event)" name="image" type="file" class="file_input" />
              <button type="button" class="btn btn-sm btn-success">
                Change
            </button>
            </div>

            <p class="mt-1 text-center">{{imageInfo}}</p>

            <div *ngIf="uploadPercent | async; let percentage" class="mt-1 mb-3">

              <div class="progress-wrapper">
                <div [ngStyle]="{width: percentage+'%'}" class="progress"></div>
              </div>

              <span class="text-dark">{{round(percentage)}}%</span>
            </div>

            <h5 class="title">{{auth.user.displayName}}</h5>
          </a>
          <p class="description">
            {{auth.user.email}}
          </p>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-md-6 col-6 ml-auto">
              <h5>{{amountFunded}}
                <br>
                <small>Deposited</small>
              </h5>
            </div>
            <div class="col-md-6 col-6 ml-auto mr-auto">
              <h5>{{amountEarned}}
                <br>
                <small>Earned</small>
              </h5>
            </div>
            <div class="mr-auto ml-auto">
              <h5>{{balance}}
                <br>
                <small>Balance</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)='updateProfile()'>
          <div class="form-group">
            <label for="first-name">Full Name</label>
            <input formControlName="full_name" id="full_name" name="full_name" type="text" class="form-control" placeholder="John Doe">
            <div *ngIf="userForm.controls.full_name.invalid && (userForm.controls.full_name.dirty || userForm.controls.full_name.touched)">
              <div style="color:#933B39;" *ngIf="userForm.controls.full_name?.hasError('required')">Required</div>
            </div>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input formControlName="email"  id="email" name="email" type="email" class="form-control" placeholder="John@example.com">
              <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.email?.hasError('required')">Required</div>
                <div style="color:#933B39;" *ngIf="userForm.controls.email?.hasError('email')">Invalid email</div>
            </div>
          </div>
          <div class="form-group">
              <label for="country">Country</label>
              <select formControlName="country" id="country" name="country" class="form-control">
                <option disabled [value]="null">Please select</option>
                <option *ngFor="let item of countryList; index as i" [value]="item.name">{{item.name}}</option>
              </select>
              <div *ngIf="userForm.controls.country.invalid && (userForm.controls.country.dirty || userForm.controls.country.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.country?.hasError('required')">Required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="address">Address</label>
              <input formControlName="address" id="address" name="address" type="text" class="form-control" placeholder="23 street, Atlanta, USA">
              <div *ngIf="userForm.controls.address.invalid && (userForm.controls.address.dirty || userForm.controls.address.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.address?.hasError('required')">Required</div>
            </div>
          </div>
          <div class="form-group">
              <label for="country">Currency</label>
              <select formControlName="currency" id="currency" name="currency" class="form-control">
                <option disabled [value]="null">Please select</option>
                <option *ngFor="let item of countryList; index as i" [value]="item.currencies[0].code">{{item.name}} ({{item.currencies[0].code +'-'+ item.currencies[0].symbol}})</option>
              </select>
              <div *ngIf="userForm.controls.currency.invalid && (userForm.controls.currency.dirty || userForm.controls.currency.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.currency?.hasError('required')">Required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="country-code">Country GSM Code</label>
              <select formControlName="phone_code" id="country-code" name="country-code" class="form-control">
                <option disabled [value]="null">Please select</option>
                <option *ngFor="let item of countryList; index as i" [value]="item.callingCodes">{{item.name}} +{{item.callingCodes}} </option>
              </select>
              <div *ngIf="userForm.controls.phone_code.invalid && (userForm.controls.phone_code.dirty || userForm.controls.phone_code.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.phone_code?.hasError('required')">Required</div>
              </div>

          </div>
          <div class="form-group">
              <label for="phone">Phone Number</label>
              <input formControlName="phone_number" id="phone" name="phone" type="number" class="form-control" placeholder="1-202-588-6500">
              <div *ngIf="userForm.controls.phone_number.invalid && (userForm.controls.phone_number.dirty || userForm.controls.phone_number.touched)">
                <div style="color:#933B39;" *ngIf="userForm.controls.phone_number?.hasError('required')">Required</div>
              </div>
          </div>
          <div class="row">
              <div class="update ml-auto mr-auto">
                <button [disabled]="!userForm.valid" type="submit" class="btn btn-success btn-round">
                  <span *ngIf="!submit">Update Profile</span>
                  <div *ngIf="submit">
                      <app-loader></app-loader>
                      <span class="sr-only">Loading...</span>
                  </div>
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
