<div class="box">
  <div class="header">
    <h5>{{item.plan}}</h5>
  </div>
  <div class="price">
    <div class="digit">
      <h1>{{item.percent}}%</h1>
      <span>/Day</span>
    </div>
    <p>USD Billed Anually</p>
  </div>
  <div class="description">
    <p>
      <strong>Minimum investment - ${{item.minimum}} </strong>
    </p>
    <p>
      <strong>Maximum investment - ${{item.maximum}} </strong>
    </p>
    <button>Invest Now</button>
  </div>
  <div class="features">
    <ul>
      <li>
        <strong>24/7 Support</strong>
      </li>
      <li>
        <strong>Referral Bonus {{item.referral}}%</strong>
      </li>
    </ul>
  </div>
</div>
