<style>
  li.active > a{
    color: #039 !important;
  }

  li.active > a > i{
    color: #039 !important;
  }
</style>
<div class="sidebar-wrapper">
  <div class="logo text-center">
    <a href="https://www.mooningasset.com" class="simple-text logo-normal">
      <img style="width: 200px" src="assets/img/brand-trans.png" alt="">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" class="link">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
