<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://apexxoptions.com">
                        Apexx option
                    </a>
                </li>
                <li>
                    <a href="https://apexxoptions.com/terms-conditions">
                       Terms of use
                    </a>
                </li>
                <li>
                    <a href="https://apexxoptions.com/privacy-policy">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="https://apexxoptions.com/contact-us">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
